main {
    margin-top: $grid-gutter-width; padding-top: $header-height;
}
body {
    &:after {
        transition: 0.2s all; display: block; content: ''; position: fixed; width: 100vw; height: 100vh; top: 0; left: 0; z-index: -1;
        background: url('../img/ajax-loader.gif') no-repeat center center rgba(255, 255, 255, 0.1); opacity: 0;
    }
    &.loading:after { z-index: 1000; opacity: 1; }

    &.default {
        #channels { float: right; width: 200px; }
        #items {
            width: 100%; margin-right: 200px; position: relative;
        }
    }
    &.timeline {
        #mainbody { position: relative; margin-top: 0; overflow: hidden; }
        #fplayer {
            width: 290px; height: 217px; position: fixed; bottom: $grid-gutter-width / 2; left: $grid-gutter-width / 2; background: $gray-500;
            &:empty {
                background: $gray-900;
                &:after {
                    display: block; content: '\e801'; font-family: 'icons'; width: 40px; height: 40px; line-height: 40px; text-align: center; font-size: 40px; color: #fff;
                    position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); transition: 0.2s all;
                }
            }
            #player { height: 100%; }
        }
        #desc {
            display: none;
            float: left; width: 290px; height: 300px; position: fixed; bottom: 237px; left: 10px; overflow: hidden; overflow-y: auto;
            padding: $grid-gutter-width / 2; border: 1px solid $gray-200;
            figure {
                width: 45%; margin-left: 5%; float: right;
                span {
                    @include responsive-ratio(3 2); background: $gray-200;
                    display: block; overflow: hidden; position: relative; cursor: pointer;
                    img { display: block; width: 100%; height: auto; }
                }
            }
            h3 { font-weight: bold; font-size: 17px; line-height: 1.5; }
            time { display: block; }
            .item-desc { clear: both; }
        }
    }
}
#datepicker { z-index: 1000; }
#ruler {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAACCAYAAACQahZdAAAAE0lEQVQYV2NkQANr1679z4hNEABODwYPbq4g8gAAAABJRU5ErkJggg==) repeat right 0 transparent;
    height: 12px; position: relative; top: -4px; cursor: pointer;
    i {
        font-size: 10px; position: absolute; background: #fff; z-index: 400; font-style: normal; top: 0; padding: 0 4px;
        &:after { display: block; content: ''; position: absolute; top: 0; right: 0; width: 1px; height: 4000px; background: $gray-700; visibility: hidden; opacity: 0; transition: 0.2s all; }
    }
    &:hover i:after { visibility: visible; opacity: 1; }
}