#header {
    background: url('../img/header.png') no-repeat right 180px center $header-bg; height: $header-height; transition: 0.2s all; line-height: $header-height;
    color: $header-text-color; overflow: visible; box-shadow: 0 2px 5px rgba(0,0,0,.26);
    position: fixed; width: 100%; top: 0; z-index: 500;
    a {
        color: $header-link-color; text-decoration: none; transition: $t;
        &:hover { color: $header-link-hover-color; }
    }
    .container { position: relative; }
	.sticky-header & {
		height: $header-height / 2;
		#menu ul { margin-top: 0; }
	}
    h1 { margin: 0; line-height: $header-height; font-size: 28px; float: right; }
    
    .tools {
        margin: 0; padding: 0; list-style: none; position: absolute; top: 0; left: -200px; height: 60px; padding: 30px 0;
        li {
            border-radius: 50%; height: 60px - $grid-gutter-width; width: 60px - $grid-gutter-width; float: left; cursor: pointer;
            margin-right: $grid-gutter-width / 2; color: #fff; transition: 0.2s all; text-align: center; font-size: 16px; line-height: 60px - $grid-gutter-width;
            &.active { background: lighten($primary-color-dark, 5%); }
            &:hover { background: $primary-color-dark; }
            &#toggle-channels i { display: block; transform: rotate(90deg); margin-left: -5px; }
        }        
    }
    time { margin-right: 60px; font-size: 22px; text-align: left; width: 100px; display: inline-block; }
}