@import 'typography';
@import 'icons';
@import 'fonts';

@import 'pwtdatepicker/persian-datepicker';
@import 'flowplayer/state';
@import 'flowplayer/skin';
@import 'jqueryui';

.flowplayer a[href*=hello]{opacity:0.00000000001}

.tooltip {
    width: auto; text-align: center; font-size: 12px; color: #fff; font-family: Tahoma; min-height: 22px; line-height: 20px; padding: 1px 5px; background: #222; border-radius: 3px; position: absolute; z-index: 1600; max-width: 300px; direction: rtl;
    &:empty { display: none; }
}