.box.customers {
	padding-bottom: $grid-gutter-width *2;
	header {
		padding-bottom: $grid-gutter-width *2; text-align: center;
	}
    ul li {
        figure {
			@include responsive-ratio(1 1); border-radius: 50%;
			a {
				display: block; position: relative;
				&:after { display: block; content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; background: #fff; transition: 0.2s all; }
			}
		}
        .desc {
			text-align: center;
			h3 {
				a { padding-top: $grid-gutter-width; display: block; }
			}
		}
		&:hover {
			figure a:after { opacity: 0.2; }
		}
    }
}