// Defenitions
$fonts-path: '../font/icons/';
$font-name-icons: 'icons';
$font-family-icons: 'icons';

// Colors
// Main colors
$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$primary: $primary-color;
$accent: $accent-color;
$light: $primary-color-light;

// Element colors
$link-color: $primary;
$link-hover-color: $accent;

// Sizings
$wrapper-width: 100%;
$grid-gutter-width: 20px;

// Header
$masthead-height: 30px;
$masthead-bg: $primary-color;
$header-bg: $primary-color;
$header-text-color: #eee;
$header-default-height: 97px;
$header-height: $header-default-height + $masthead-height;
$header-line-height: $header-default-height;
$header-link-color: #fff;
$header-link-hover-color: $accent;
$menu-height: $header-default-height;

$logo-width: $header-height;
//$logo-height: $logo-width + 30;
$logo-height: $header-height;

// Boxes 
$box-bg: transparent;
$box-padding: 0;
$box-margin: 0;
$box-border: 0 none;
$box-shadow: 0 0 transparent;
$box-link-color: darken(theme-color("primary"), 25%);
$box-link-hover-color: darken(theme-color("primary"), 15%);
$items-height-closed: 35px;
// Box-specific variables
$slideshow-bg: #323843;

$title-font: $font-weight-bold #{$font-size-base}/1.4 $font-family-base;

// Misc
$t: 0.2s all;


$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
